## The following requirements were added by pip freeze:
chess==1.4.0
cssselect2==0.4.1
lxml>=4.6.1
numpy>=1.19.2
Pillow>=8.0.1
python-chess==1.999
reportlab==3.5.59
svglib==1.0.1
tinycss2==1.1.0
tk==0.1.0
torch==1.7.1
tqdm>=4.50.2
typing-extensions==3.7.4.3
webencodings==0.5.1
